$color-primary: #2b8a3e;
$color-secondary: #69db7c;

$color-grey-dark: #777;
$color-grey-light: #cacaca;

$color-black-1: #000;
$color-black-2: #333;

$color-white: #fff;

$section-width: 130rem;

// //////////////////
// COLUMN GAP
$column-gap-small: 3.2rem;
$column-gap-medium: 4.8rem;
$column-gap-large: 6rem;
