.u-margin-bottom-small {
  margin-bottom: 2.8rem;
}
.u-margin-bottom-medium {
  margin-bottom: 3.2rem;
}

.u-margin-bottom-big {
  margin-bottom: 4.8rem;
}

.u-center-text {
  text-align: center;
}

.u-color-text-white {
  color: $color-white !important;
}
